.container-height {
  height: 100%;

  /**
   注意：!!! 不设置明确的高度是无法监听内容滚动。 即无法缓存内容滚动高度
   注释 max-height 意味着将放弃所有页面的滚动缓存
   */
  max-height: calc(100vh - 91px);
}

/* 由于组件缓存的 div 未设置高度，加载时 lazyLoading 无法正常显示 */
.keep-alive {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* 页面切换时的过渡动画 */
.cache-component {
  width: 100%;
  height: 100%;
  animation: fade-in 0.5s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
